*~
configure
Makefile.in
Makefile
src/ur/config.urp
src/m4/libtool.m4
src/m4/ltoptions.m4
src/m4/ltsugar.m4
src/m4/ltversion.m4
src/m4/lt~obsolete.m4
missing
*.sub
*.guess
*.log
*.status
libtool
depcomp
install-sh
ltmain.sh
compile
ar-lib
*.m4
*.cache
src/c/.deps
src/c/.libs
*.lo
*.la
*.o
